﻿@using Movies.WebUI.Dtos.CategoryDtos
@model List<ResultCategoryWithMovieDto>
@{
    ViewData["Title"] = "MovieList";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int count = 0;
}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <a href="/AdminMovies/CreateMovie/" class="btn btn-outline-primary" style="float: right; margin-top: 20px;"><i class="mdi mdi-plus-box"></i> Yeni Film Ekle</a>
                <h2 class="card-title">Filmler</h2>
                <div class="table-responsive">
                    <br />
                    <table class="table table-bordered table-hover" style="color:white;">
                        <thead>
                            <tr>
                                <th scope="col" class="sort" data-sort="name">#</th>
                                <th scope="col" class="sort" data-sort="status">Kapak</th>
                                <th scope="col" class="sort" data-sort="budget">Film Adı</th>
                                <th scope="col" class="sort" data-sort="status">Puan</th>
                                <th scope="col" class="sort" data-sort="status">Konu</th>


                                <th scope="col" class="sort text-center" data-sort="completion">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @foreach (var x in item.movies)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td><image style="width:80px; height:80px;" src="@x.MovieImageUrl"></image></td>
                                        <td>@x.MovieName</td>
                                        <td>@x.MovieScore</td>
                                        <td>@item.categoryName</td>

                                        <td class="text-center">
                                            <a href="/AdminMovies/DeleteMovie/@x.MovieId" class="btn btn-outline-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="ni ni-fat-remove"></i> Sil</a>
                                            <a href="/AdminMovies/UpdateMovie/@x.MovieId" class="btn btn-outline-info" style="margin-left:25px;"><i class="ni ni-scissors"></i> Güncelle</a>
                                            <a href="/Detail/Index/@x.MovieId" class="btn btn-outline-secondary" style="margin-left:25px;"><i class="ni ni-scissors"></i> Detay</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                    <div class="pagination2">
                        <span>1. Sayfa:</span>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">...</a>
                        <a href="#">15</a>
                        <a href="#">16</a>
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>