﻿@using Movies.WebUI.Dtos.CategoryDtos
@model List<ResultCategoryWithSerieDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <a href="/AdminSerie/CreateSerie" class="btn btn-outline-primary" style="float: right; margin-top: 20px;"><i class="mdi mdi-plus-box"></i> Yeni Dizi Ekle</a>
                <h2 class="card-title">Diziler</h2>
                <div class="table-responsive">
                    <br />
                    <table class="table table-bordered table-hover" style="color:white;">
                        <thead>
                            <tr>
                                <th scope="col" class="sort" data-sort="name">#</th>
                                <th scope="col" class="sort" data-sort="status">Kapak</th>
                                <th scope="col" class="sort" data-sort="budget">Dizi Adı</th>
                                <th scope="col" class="sort" data-sort="status">Puan</th>
                                <th scope="col" class="sort" data-sort="status">Konu</th>


                                <th scope="col" class="sort text-center" data-sort="completion">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @foreach (var x in item.series)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td><image style="width:80px; height:80px;" src="@x.SerieImageUrl"></image></td>
                                        <td>@x.SerieName</td>
                                        <td>@x.SerieScore</td>
                                        <td>@item.categoryName</td>

                                        <td class="text-center">
                                            <a href="/AdminSerie/DeleteSerie/@x.SerieId" class="btn btn-outline-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="ni ni-fat-remove"></i> Sil</a>
                                            <a href="/AdminSerie/UpdateSerie/@x.SerieId" class="btn btn-outline-info" style="margin-left:25px;"><i class="ni ni-scissors"></i> Güncelle</a>
                                            <a href="/SerieDetail/Index/@x.SerieId" class="btn btn-outline-secondary" style="margin-left:25px;"><i class="ni ni-scissors"></i> Detay</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>